body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background: black;
  color: white;
  font-family: sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

header aside {
  display: flex;
  flex-direction: row;
}

header aside a {
  margin-left: 16px;
  color: inherit;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
  margin: 16px;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* First editor */
.App > section:first-of-type {
  height: 5em !important;
  margin-bottom: 16px;
}

.highlighted {
  background: rgb(255, 255, 0, 0.2);
}
